# Compiled class files
*.class

# Log files
*.log

# BlueJ project files
bluej.pkg
+libs/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA files
.idea/
*.iml

# Eclipse files
*.classpath
*.project
*.settings/

# VS Code files
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Build output
/bin/
build/

# Other IDEs
out/
